<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %} - Ray</title>
</head>
<body>
{% include 'nav.html' %}

{% block content %}
<div>这里是默认内容，所有继承自这个模板的，如果不覆盖就显示这里的默认内容。</div>
    {% for key,value in info_dict.items %}
        {{ key }}:{{ value }}<br />
    {% endfor %}

    (zhandian):{{ info_dict.site }}<br />
    (neirong):{{ info_dict.content }}<br />
{% endblock %}
   <a href="/product/add" class="btn btn-primary">add product</a>

</body>
</html>